<!-- <nav>
    <ul class="d-flex flex-column text-black gap-5">
        <li></li>
        <li><a href="#" class="menu__footer-item d-flex align-items-center gap-2"><i
                    class="bi bi-house-check-fill text-black fs-2"></i>Home</a></li>
        <li><a href="#" class="menu__footer-item d-flex align-items-center gap-2"><i
                    class="bi bi-plus-circle-fill text-black fs-2"></i>Cadastro</a>
        </li>
        <li><a href="#" class="menu__footer-item d-flex align-items-center gap-2"></a></li>
        <li><a href="#" class="menu__footer-item d-flex align-items-center gap-2"></a></li>
        <li><a href="#" class="menu__footer-item d-flex align-items-center gap-2">Sair</a></li>
    </ul>
</nav> -->

<a href="/" class="mb-3 mb-md-0 text-decoration-none">
    <img src="./assets/img/log-OneGed.svg " alt="Logo OneGed">
</a>
<hr>
<nav>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link bg-success active" aria-current="page">
                <i class="bi bi-house-check-fill fs-4 me-2">
                    <use xlink:href="#home"></use>
                </i>
                Home
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-black">
                <i class="bi bi-plus-circle-fill fs-4 me-2"></i>
                <use xlink:href="#cadastro"></use>
                Cadastro
            </a>
        </li>
        <div class="dropdown">
            <a href="#" class="nav-link text-black">
                <i class="bi bi-list-stars fs-4 me-2"></i>
                <use xlink:href="#listagem"></use>
                Listagem
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
            </ul>

        </div>
        <li>
            <a href="#" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#people-circle"></use>
                </svg>
                Customers
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>Usuários</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#"><i class="bi bi-power fs-5 me-2"></i>Sign out</a></li>
        </ul>
    </div>
</nav>