<script src="/assets/js/componentLogOff.js"></script>
<div class="flex-row p-md-3">
    <img id="perfil" src="/assets/img/fotoUser.png" alt="" width="32" height="32" class="rounded-circle">
    <a href="#" class="text-black text-decoration-none menu-text fw-bold">
        <strong>Usuários</strong>
    </a>
    <ul class="dropdown-content-user">
        <li><a href="#">Configuração</a></li>
        <li><a href="#">Perfil</a></li>
        <li>
            <hr>
        </li>
        <li><a href="#" id="btn-exit"><i class="bi bi-power fs-5 me-2"></i>Sair</a></li>
    </ul>
</div>