<nav>
    <ul class="nav nav-pills">
        <li class="nav-item p-0 g-md-2">
            <a href="/" class="nav-link text-black d-flex justify-content-center align-items-center p-0 fw-bold"
                aria-current="page">
                <i class="bi bi-house-check-fill fs-2 me-2">
                    <use xlink:href="/"></use>
                </i>
                <span class="menu-text">Home</span>
            </a>
        </li>
        <li class="nav-item p-0 g-md-2 ">
            <a href="#registe" class="nav-link text-black d-flex justify-content-center align-items-center p-0 fw-bold">
                <i class="bi bi-plus-circle-fill fs-2 me-2">
                    <use xlink:href="#registe"></use>
                </i>
                <span class="menu-text">Cadastro</span>

            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex justify-content-center align-items-center p-0 text-black fw-bold"
                href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-list-stars fs-2 me-2"></i>
                <span class="menu-text">Listagem</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Lista de Usuário</a></li>
                <li><a class="dropdown-item" href="#">Lista de Documento</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-black d-flex justify-content-center align-items-center p-0 fw-bold">
                <i class="bi bi-bug-fill fs-2 me-2"></i>
                <use xlink:href="#people-circle"></use>
                <span class="menu-text">Customers</span>

            </a>
        </li>
    </ul>
</nav>