<a href="#home" class="menu__footer-item d-flex flex-column text-center text-decoration-none text-black fw-bold"><i
                class="bi bi-house-check-fill text-black fs-2"></i>Home</a>
<a href="#registe" class="menu__footer-item d-flex flex-column text-center text-decoration-none text-black fw-bold"><i
                class="bi bi-plus-circle-fill text-black fs-2"></i>Cadastro</a>
<a href="#" class="menu__footer-item d-flex flex-column text-center text-decoration-none text-black fw-bold"><i
                class="bi bi-list-stars text-black fs-2"></i>Listagem</a>

<span
        class="menu__footer-item d-flex flex-column text-center text-decoration-none text-black gap-2 align-items-center ">
        <img id="perfil" src="../img/fotoperfil.jpeg" alt="" width="32" height="32" class="rounded-circle">
        <a href="#" class="text-black text-decoration-none dropdown-toggle menu-text" data-bs-toggle="dropdown"
                aria-expanded="true">
                <strong>Usuários</strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                        <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" id="btn-exit"><i class="bi bi-power fs-5 me-2"></i>Sign out</a>
                </li>
        </ul>
</span>