<a href="#" class="menu__footer-item d-flex flex-column text-center text-black"><i
        class="bi bi-house-check-fill text-black fs-2"></i>Home</a>
<a href="#" class="menu__footer-item d-flex flex-column text-center text-black"><i
        class="bi bi-plus-circle-fill text-black fs-2"></i>Cadastro</a>
<a href="#" class="menu__footer-item d-flex flex-column text-center text-black"><i
        class="bi bi-list-stars text-black fs-2"></i>Listagem</a>
<a href="#" class="menu__footer-item d-flex flex-column text-center text-black"><i
        class="bi bi-person-circle text-black fs-2"></i>Usuários</a>
<a href="#" class="menu__footer-item d-flex flex-column text-center text-black"><i
        class="bi bi-power text-black fs-2"></i>Sair</a>