<ul class="nav nav-pills">
    <li class="nav-item">
        <a href="#" class="nav-link bg-success active" aria-current="page">
            <i class="bi bi-house-check-fill fs-4 me-2">
                <use xlink:href="#home"></use>
            </i>
            Home
        </a>
    </li>
    <li>
        <a href="#" class="nav-link text-black">
            <i class="bi bi-plus-circle-fill fs-4 me-2"></i>
            <use xlink:href="#cadastro"></use>
            Cadastro
        </a>
    </li>
    <li class="dropdown">
        <a href="#" class="nav-link text-black">
            <i class="bi bi-list-stars fs-4 me-2"></i>
            <use xlink:href="#listagem"></use>
            Listagem
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
        </ul>
    </li>
    <li>
        <a href="#" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16">
                <use xlink:href="#people-circle"></use>
            </svg>
            Customers
        </a>
    </li>
</ul>
</nav>