@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
    /* Palheta de cores*/
    --primaria-color: white;
    --segundaria-color: chocolate;
    --hover-color-bg: orange;
    --terceira-color: red;
    --quarta-color: black;
    --backgroud-color: #00d6a0;
    --backgroud-color-Beneficios: #88888888;
    --border-color: black;
    /*Final da Palheta de cores*/

    /* Backgrounds*/
    --background-primario: url("../img/bg.jpg");
}
html {
    height: 100%;
}
.custom-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.em-desenvolvimento {
    position: fixed;
    top: 8.5em;
    right: -2em;
    width: 15em;
    padding: 10px;
    background-color: #00d6a0;
    color: white;
    text-align: center;
    z-index: 1000;
    transform: rotate(45deg);
    transform-origin: top right;
    text-transform: uppercase;
    font-size: 1em;
}