@import "style.css";

.bg-color {
    background-color: var(--backgroud-color);
}

/* Sobrescrever as regras CSS do Bootstrap para links */
/* .menu__footer-item,
.menu__lateral {
    color: inherit;
    text-decoration: none; 
} */
/* .menu__lateral ul {
    list-style: none;
}
#menu__lateral {
    display: none !important;
    width: 10rem;
} */
.container__main {
    background-image: url("../img/fundo-black.png");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 30%;
}
/* .linha {
    border-bottom: 1px solid black;
    width: 100%;
} */

@media screen and (min-width: 769px) {
    #menu__lateral {
        display: flex !important;
        text-align: center;
    }
    #menu__footer,
    #title__logo {
        display: none !important;
    }
}
